.RecipeTitle {
    text-align: center;
}

.Ingredients {
    float: left;
    width: 20%;
}

.Instructions {
    float: left;
    width: 40%;
}

.Notes {
    float: left;
    width: 40%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
